mixin panel()

  - const {items,indicatorText} = require('../panel/data.json')

  .panel
    form.js-panel__control.panel__control
      each item in items
        - 
          const inputClass = 'panel__input'
          const inputNameClass = `panel__input_name-${item.name}`
          const jsInputNameClass = `js-panel__input_name-${item.name}`
          const classes = [inputClass, inputNameClass, jsInputNameClass]
          
        label.panel__label
          span.panel__input-header= item.header
          input(class=classes, type=item.type) 
      .panel__indicator-area
        span.panel__indicator-text= indicatorText
        .panel__indicator.js-panel__indicator
    .panel__example.js-panel__example 
