mixin panel()

  - const {items,indicatorText} = require('../panel/data.json')

  .panel
    form.js-panel__control.panel__control
      each item in items
        - 
          const inputClass = 'panel__input'
          const inputNameClass = `panel__input_name-${item.name}`
          const jsInputNameClass = `js-panel__input_name-${item.name}`
          const inputClasses = [inputClass, inputNameClass, jsInputNameClass]
          const selectClass = 'panel__select'
          const selectNameClass = `panel__select_name-${item.name}`
          const jsSelectNameClass = `js-panel__select_name-${item.name}`
          const selectClasses = [selectClass, selectNameClass, jsSelectNameClass]
          
        .panel__item
          span.panel__input-header= item.header
          if item.type === 'select'
            select(class=selectClasses)
          else
            input(class=inputClasses, type=item.type) 
      .panel__indicator-area
        span.panel__indicator-text= indicatorText
        .panel__indicator.js-panel__indicator
    .panel__example.js-panel__example 
